@page "/users"
@attribute [Authorize(Roles = "Technician")]
@using MESS.Data.DTO
@using MESS.Data.Models
@using MESS.Services.ApplicationUser
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthProvider
@inject IApplicationUserService ApplicationUserService
@inject UserManager<ApplicationUser> UserManager

<div class="container justify-content-center">
    <h1>
        Users
    </h1>
    <button class="btn btn-primary" @onclick="SaveChanges">Save Changes</button>
    @if (AlertMessage?.Length > 0)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @AlertMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div>
        <table>
            <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @if (ApplicationUserDtoList != null)
            {
                @foreach (var (userDto, index) in ApplicationUserDtoList.Select((user, index) => (user, index)))
                {
                    <UserTableRow RowNumber="index" UserRoleDto="userDto" DisplayAlert="DisplayAlert"/>
                }
            }
            </tbody>
        </table>
        
    </div>
    <div>

    </div>
</div>

@code {
    private List<UserRoleDto> ApplicationUserDtoList { get; set; } = [];
    private string? AlertMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var applicationUsers = await ApplicationUserService.GetApplicationUsers();
        foreach (var user in applicationUsers)
        {
            var roles = await UserManager.GetRolesAsync(user);
            var lockoutEnd = await UserManager.GetLockoutEndDateAsync(user);
            var IsLockedOut = lockoutEnd != null && lockoutEnd > DateTimeOffset.UtcNow;

            var userDto = new UserRoleDto
            {
                User = user,
                Roles = roles,
                IsLockedOut = IsLockedOut
            };
            
            ApplicationUserDtoList.Add(userDto);
        }
    }

    private async Task SaveChanges()
    {
        if (ApplicationUserDtoList != null)
        {
            foreach (var user in ApplicationUserDtoList)
            {
                await ApplicationUserService.UpdateApplicationUser(user.User);
            }
        }
    }

    private async Task DisplayAlert(string message)
    {
        AlertMessage = message;

        await Task.Delay(2000);
        AlertMessage = string.Empty;
        
        StateHasChanged();
    }

}