@page "/users"
@attribute [Authorize(Roles = "Technician")]
@using MESS.Data.Models
@using MESS.Services.ApplicationUser
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject IApplicationUserService ApplicationUserService

<div class="container justify-content-center">
    <h1>
        Users
    </h1>
    <button class="btn btn-primary" @onclick="SaveChanges">Save Changes</button>
    <div>
        <table>
            <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
                @if (ApplicationUsers != null)
                {
                    @foreach (var (user, index) in ApplicationUsers.Select((user, index) => (user, index)))
                    {
                        <UserTableRow RowNumber="index" User="user" />
                    }
                }
            </tbody>
        </table>
        
    </div>
    <div>

    </div>
</div>

@code {
    private List<ApplicationUser>? ApplicationUsers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ApplicationUsers = await ApplicationUserService.GetApplicationUsers();
    }

    protected async Task SaveChanges()
    {
        if (ApplicationUsers != null)
            foreach (var user in ApplicationUsers)
            {
                await ApplicationUserService.UpdateApplicationUser(user);
            }
    }

}