@attribute [StreamRendering]

<div>
    <input type="time" class="custom-time-input" step="1" value="@Time.ToString("HH:mm:ss")" @onchange="ChangeTime"/>
</div>

@code {
    [Parameter]
    public DateTimeOffset Time { get; set; }

    [Parameter]
    public EventCallback<DateTimeOffset> TimeChanged { get; set; }
    
    private async void ChangeTime(ChangeEventArgs e)
    {
        if (DateTimeOffset.TryParse(e.Value?.ToString(), out var time))
        {
            await TimeChanged.InvokeAsync(time);
        }
    }
    
}