@using MESS.Data.Models
@using MESS.Services.WorkInstruction
@using Serilog
@inject IWorkInstructionService WorkInstructionService

@if (WorkInstruction != null)
{
    <FluentGrid Justify="JustifyContent.Center">
            <div>
            <FluentGridItem>
                <th scope="row">@RowNumber</th>
                <td>
                    <input disabled="@(!IsEditable)" type="text" class="form-control" @bind="WorkInstruction.Title" @bind:event="oninput"/>
                </td>
                <td>
                    <input disabled="@(!IsEditable)" type="text" class="form-control" @bind="WorkInstruction.Version" @bind:event="oninput"/>
                </td>
                <td>
                    @if (IsEditable)
                    {
                        <button type="button" class="btn btn-outline-success" @onclick="ShowStepManager">
                            Edit Actions
                        </button>
                        <button type="button" class="btn btn-outline-danger" @onclick="DeleteWorkInstruction">
                            Delete
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-primary" @onclick="DuplicateWorkInstruction">
                            Duplicate
                        </button>
                    }
                    <button type="button" class="@(WorkInstruction.IsActive ? "btn-danger" : "btn-success") btn" @onclick="() => WorkInstruction.IsActive = !WorkInstruction.IsActive">
                        @if (WorkInstruction.IsActive)
                        {
                            <p>Hide</p>
                        }
                        else
                        {
                            <p>Show</p>
                        }
                    </button>
                    <button type="button" class="btn btn-success" @onclick="async () => await SaveChanges.InvokeAsync(WorkInstruction)">
                        Save Changes
                    </button>
                </td>
            </FluentGridItem>
            @if (DisplayStepManager)
            {
                <WorkInstructionNodeManagerList WorkInstructionNodes="WorkInstruction.Nodes"/>
            }
            </div>
        
    </FluentGrid>
}

@code {
    [Parameter]
    public required int RowNumber { get; set; }
    [Parameter]
    public EventCallback<string> DisplayAlert { get; set; }
    [Parameter]
    public EventCallback<WorkInstruction> SaveChanges { get; set; }
    [Parameter]
    public required WorkInstruction WorkInstruction { get; set; }
    [Parameter]
    public EventCallback<WorkInstruction> OnDuplicate { get; set; }
    
    private bool IsEditable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsEditable = await WorkInstructionService.IsEditable(WorkInstruction);
        await base.OnInitializedAsync();
    }

    private bool IsConfirmingDelete { get; set; } = false;
    private int? WorkInstructionToDeleteId { get; set; }
    private bool DisplayStepManager { get; set; } = false;
    
    private void ShowStepManager()
    {
        DisplayStepManager = !DisplayStepManager;
    }

    private async Task DuplicateWorkInstruction()
    {
        var newInstruction = await WorkInstructionService.DuplicateAsync(WorkInstruction);

        if (newInstruction != null)
        {
            await OnDuplicate.InvokeAsync(newInstruction);
            await DisplayAlert.InvokeAsync($"Work Instruction: {newInstruction.Title} duplicated successfully");
        }
        else
        {
            await DisplayAlert.InvokeAsync("Failed to duplicate work instruction.");
        }
    }

    /// Only Delete a Work Instruction if it does not have any associated Production Logs
    private async Task DeleteWorkInstruction()
    {
        if (!IsEditable)
        {
            Log.Information("Attempt to delete Work Instruction: {WorkInstructionTitle} with ID: {ID},  Failed since it is not editable.", WorkInstruction.Title, WorkInstruction.Id);
            return;
        }
        await WorkInstructionService.DeleteByIdAsync(WorkInstruction.Id);
    }

}