@page "/WorkInstructionManager"
@using MESS.Data.DTO
@using MESS.Data.Models
@using MESS.Services.Product
@using MESS.Services.WorkInstruction
@using Serilog
@inject IWorkInstructionService WorkInstructionService
@inject IProductService ProductService
@inject IToastService ToastService


    <div class="container justify-content-center">
        <WorkInstructionImport OnImportComplete="HandleImportComplete"/>
        <FluentGrid Class="mt-5" Justify="JustifyContent.Center">
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                <FluentLabel>
                    Title
                </FluentLabel>
                <FluentLabel>
                    Version
                </FluentLabel>
                <FluentLabel>
                    Actions
                </FluentLabel>
            </FluentStack>
            @foreach (var (instruction, index) in WorkInstructions.Select((instruction, index) => (instruction, index)))
            {
                <FluentGridItem xs="12">
                    <WorkInstructionTableRow RowNumber="index" WorkInstruction="instruction" SaveChanges="SaveChanges" 
                                             OnDuplicate="HandleDuplicate" OnDelete="HandleDelete"
                                             AllProducts="AllProducts"></WorkInstructionTableRow>
                </FluentGridItem>
            }
        </FluentGrid>
    </div>


@code {
    private List<WorkInstruction> WorkInstructions { get; set; } = [];
    private List<Product>? AllProducts { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        WorkInstructions = await WorkInstructionService.GetAllAsync();
        AllProducts = (await ProductService.GetAllProductsAsync()).ToList();
    }
    
    private async Task SaveChanges(WorkInstruction instruction)
    {
        if (instruction is { Title: {Length: <= 0 } })
        {
            Log.Information("Attempted Work Instruction save changes with empty or null Title, for instruction ID: {InstructionId}", instruction.Id);
            ToastService.ShowError("A Work Instruction must have a title.");
            return;
        }

        try
        {
            // Only have to account for updates here since a work instruction can currently
            // only be created via importation as of 4/3/2025.
            var saveResult = await WorkInstructionService.UpdateWorkInstructionAsync(instruction);
            if (saveResult)
            {
                ToastService.ShowSuccess($"Work Instruction: {instruction.Title} Version: {instruction.Version}, was successfully saved.");
            }
            else
            {
                ToastService.ShowError($"Unable to save Work Instruction: {instruction.Title}. Please check the log file for more information.");
            }
        }
        catch (Exception e)
        {
            Log.Error("Error saving Work Instruction changes: {errorMessage}", e.Message);
            ToastService.ShowError("An error occurred while saving changes");
        }
    }

    private Task HandleDuplicate(WorkInstruction newInstruction)
    {
        WorkInstructions.Add(newInstruction);
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task HandleDelete(WorkInstruction workInstructionToRemove)
    {
        WorkInstructions.Remove(workInstructionToRemove);
        StateHasChanged();
        return Task.CompletedTask;
    }

    private void HandleImportComplete(WorkInstruction importedWorkInstruction)
    {
        WorkInstructions.Add(importedWorkInstruction);
        ToastService.ShowSuccess($"Successfully imported Work Instruction: {importedWorkInstruction.Title}, Version: {importedWorkInstruction.Version}", 3000);
    }

}