@page "/WorkInstructionImport"
@using MESS.Services.WorkInstruction
@inject IWorkInstructionService WorkInstructionService

<button @onclick="Import">Import</button>


@code {

    private void Import()
    {
        WorkInstructionService.ImportFromXlsx("./Resources/MESS-G2 PCBA Subassembly.xlsx");
    }

}