@page "/products/create"
@page "/products/edit/{LogId:int}"
@using MESS.Data.Models
@using MESS.Services.Product
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<PageTitle>@(IsEditMode ? "Edit Product" : "Create Product")</PageTitle>

<h3>@(IsEditMode ? "Edit" : "Create")</h3>

<h2>Product</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Product" OnValidSubmit="SaveProduct">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Product.Name" class="form-control" /> 
                <ValidationMessage For="() => Product.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="version" class="form-label">Version:</label> 
                <InputText id="version" @bind-Value="Product.Version" class="form-control" /> 
                <ValidationMessage For="() => Product.Version" class="text-danger" /> 
            </div>
            <div class="mb-3 form-check">
                <InputCheckbox id="isActive" @bind-Value="Product.IsActive" class="form-check-input" />
                <label for="isActive" class="form-check-label">Active</label>
            </div>

            <button type="submit" class="btn btn-primary">@(IsEditMode ? "Save Changes" : "Create")</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/products">Back to List</a>
</div>

@code {
    [Parameter]
    public int? LogId { get; set; }

    private bool IsEditMode => LogId.HasValue;
    private Product Product { get; set; } = new()
    {
        Name = ""
    };

    protected override async Task OnInitializedAsync()
    {
        if (IsEditMode)
        {
            // Fetch product for editing
            if (LogId != null)
            {
                var existingProduct = await ProductService.FindProductByIdAsync(LogId.Value);
                if (existingProduct != null)
                {
                    Product = existingProduct;
                }
                else
                {
                    // Handle case where product does not exist (e.g., navigate back)
                    NavigationManager.NavigateTo("/products");
                }
            }
        }
    }

    private async Task SaveProduct()
    {
        try
        {
            if (IsEditMode)
            {
                await ProductService.ModifyProductAsync(Product);
            }
            else
            {
                await ProductService.AddProductAsync(Product);
            }

            NavigationManager.NavigateTo("/products");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving product: {ex.Message}");
        }
    }
}
