@using MESS.Data.Models

<details>
    <summary>View Work Instructions</summary>
    <div class="p-3">
        @if (Product.WorkInstructions != null && Product.WorkInstructions.Any())
        {
            <ul>
                @foreach (var instruction in Product.WorkInstructions)
                {
                    <li>@instruction.Title</li>
                }
            </ul>
        }
        else
        {
            <p>No work instructions available.</p>
        }
    </div>
</details>

@code {
    [Parameter]
    public required Product Product { get; set; }
}