@using MESS.Data.Models

<details>
    <summary>View Work Instructions and Work Stations</summary>
    <div class="p-3">
        <h5>Work Instructions</h5>
        @if (Product.WorkInstructions != null && Product.WorkInstructions.Any())
        {
            <ul>
                @foreach (var instruction in Product.WorkInstructions)
                {
                    <li>@instruction.Title</li>
                }
            </ul>
        }
        else
        {
            <p>No work instructions available.</p>
        }

        <h5>Work Stations</h5>
        @if (Product.WorkStations != null && Product.WorkStations.Any())
        {
            <ul>
                @foreach (var workStation in Product.WorkStations)
                {
                    <li>@workStation.Name</li>
                }
            </ul>
        }
        else
        {
            <p>No work stations available.</p>
        }
    </div>
</details>

@code {
    [Parameter]
    public required Product Product { get; set; }
}