@inject IJSRuntime JS
@inherits LayoutComponentBase

<div class="btn btn-outline-secondary text-decoration-none darkmode">
    <button class="darkmode-button" @onclick="ToggleDarkMode">
       @(isDarkMode ? "\u2600\ufe0f" : "\ud83c\udf19")
    </button>
</div>


@code {
    private bool isDarkMode = false;

    private async Task ToggleDarkMode() {
        isDarkMode = !isDarkMode;
        await JS.InvokeVoidAsync("toggleDarkMode", isDarkMode);
    }
} 
