@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<HeadContent>
    <script src="darkmode.js"></script>
</HeadContent>

<div class="page">
    <main>
        <article class="content px-4 mx-auto">
            <AuthorizeView Roles="Technician, Administrator">
                <NavLink class="btn btn-outline-secondary text-decoration-none" href="/WorkInstructionManager" Match="NavLinkMatch.All">
                    Phoebe
                </NavLink>
                <NavLink class="btn btn-outline-secondary text-decoration-none" href="/production-log" Match="NavLinkMatch.All">
                    Production Log
                </NavLink>
            </AuthorizeView>
            <div class="mt-sm-3">
                @Body
            </div>
            <DarkModeButton></DarkModeButton>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />


@code
{

}
