@page "/phoebe"
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider

<div class="container-fluid p-0 m-0">
    <AuthorizeView Roles="Technician,Administrator">
        <LayoutView Layout="typeof(MainLayout)">
            <div class="p-3">
                @Body
            </div>
        </LayoutView>
    </AuthorizeView>
</div>

@code {
    private string? ActiveLineOperator { get; set; }

    /// <summary>
    /// Called when the component is initialized; gets the authenticated user info.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthProvider.GetAuthenticationStateAsync();
        ActiveLineOperator = state.User.Identity?.Name;
    }
}