<div class="d-flex justify-content-between gap-4 flex-sm-wrap header-container">
    <CreateHeaderCard Title="Product" Text="@ActiveProduct"></CreateHeaderCard>
    <CreateHeaderCard Title="Work Station" Text="@WorkStation"></CreateHeaderCard>
</div>

@code {
    [Parameter]
    public string? ActiveProduct { get; set; }
    [Parameter]
    public string? WorkStation { get; set; }
}