<div class="card info-card workstation-card">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <h3 class="card-text">@Text</h3>
        @ChildContent
    </div>
</div>


@code {
    /// <summary>
    /// A string value for the Title field displayed in the card header.
    /// </summary>
    [Parameter]
    public string? Title { get; set; }
    
    /// <summary>
    /// The main text content displayed in the card body.
    /// </summary>
    [Parameter]
    public string? Text { get; set; }
    /// <summary>
    /// Additional content to be rendered inside the card body.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
}