<div class="d-flex justify-content-between">
    <div>
        <h2>
            @ActiveProduct
        </h2>
    </div>
    <div>
        <h2>
            @WorkStation
        </h2>
    </div>
    <div>
        <h2>
            @LineOperator
        </h2>
    </div>
</div>

@code {
    [Parameter]
    public string? ActiveProduct { get; set; }
    [Parameter]
    public string? WorkStation { get; set; }
    [Parameter]
    public string? LineOperator { get; set; }
}