<div class="toggle-images">
    <input type="radio" class="btn-check" name="image-show" @bind="imageToggle" id="showImages"/>
    <label class="btn btn-outline-secondary text-decoration-none" for="showImages">Show Images</label>

    <input type="radio" class="btn-check" name="image-show" @bind="imageToggle" id="hideImages"/>
    <label class="btn btn-outline-secondary text-decoration-none" for="hideImages">Hide Images</label>
</div>

@code {
    private bool imageToggle { get; set; } = false; 
}
