@page "/production-log"
@using MESS.Data.Models
@using MESS.Services.ProductionLog
@inject IProductionLogService ProductionLogService

@if (_productionLogs == null)
{
    <p>
        Loading...
    </p>
}
else
{
    @foreach (var log in _productionLogs)
    {

        <div>
            <p>
                @log.Id
            </p>
            <p>
                @if (log.Product != null)
                {
                    @log.Product.Name
                }
            </p>
            <p>
                @log.Id
            </p>
        </div>
    }
}
    
    
@code {
    private List<ProductionLog>? _productionLogs;

    protected override void OnInitialized()
    {
        _productionLogs = ProductionLogService.GetAll().ToList();
    }
    
}