@using MESS.Data.Models
@using MESS.Services.ProductionLog
@inject IProductionLogEventService ProductionLogEventService
@implements IDisposable

<div>
    @if (Products != null)
    {
        <select disabled="@Disabled" id="product-select" class="form-select" @onchange="async e => await OnProductSelected.InvokeAsync(int.Parse(e.Value?.ToString() ?? string.Empty))">
            <option value="-1">Select Product</option>
            @foreach (var product in Products)
            {
                @if (product.WorkInstructions == null)
                {
                    continue;
                }
                var selectedProductName = ProductionLogEventService.CurrentProductName;
                var isSelected = product.Name == selectedProductName;
                <option selected="@isSelected" value="@product.Id">@product.Name</option>
            }
        </select>
    }
</div>

@code {
    /// <summary>
    /// The list of products to display in the dropdown.
    /// </summary>
    [Parameter]
    public List<Product>? Products { get; set; }

    /// <summary>
    /// Event callback triggered when a product is selected.
    /// The selected product's ID is passed as an argument.
    /// </summary>
    [Parameter]
    public EventCallback<int> OnProductSelected { get; set; }

    /// <summary>
    /// A value indicating whether the dropdown is disabled.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        ProductionLogEventService.ProductDetailsChanged += StateHasChanged;
    }
    
    /// <inheritdoc />
    public void Dispose()
    {
        ProductionLogEventService.ProductDetailsChanged -= StateHasChanged;
    }
}