@using MESS.Data.Models
<div class="d-flex flex-wrap gap-2 mt-2 justify-content-around align-content-center">
    @foreach (var log in _serialNumberLogs)
    {
        <RequiredPartInput ActiveSerialNumberLog="log" AfterSerialNumberInput="AfterSerialNumberInput" />
    }
</div>

@code {
    /// <summary>
    /// A list of serial number logs to be displayed in the component.
    /// </summary>
    [Parameter] public required List<SerialNumberLog> _serialNumberLogs { get; set; }

    /// <summary>
    /// An event callback triggered after a serial number input is processed.
    /// </summary>
    [Parameter]
    public required EventCallback<SerialNumberLog> AfterSerialNumberInput { get; set; }
}