@using MESS.Data.Models
<div class="card m-1">
    <div class="card-body p-1 d-flex align-items-center">
        @foreach (var log in _serialNumberLogs)
        {
            <RequiredPartInput ActiveSerialNumberLog="log" AfterSerialNumberInput="AfterSerialNumberInput" />
        }

    </div>
</div>

@code {
    [Parameter] public required List<SerialNumberLog> _serialNumberLogs { get; set; }
    
    [Parameter]
    public required EventCallback<SerialNumberLog> AfterSerialNumberInput { get; set; }
    
    private int CurrentLog { get; set; }

}