@using MESS.Data.Models
<div class="d-flex flex-wrap gap-2 mt-2 justify-content-around align-content-center">
    @foreach (var log in _serialNumberLogs)
    {
        <RequiredPartInput ActiveSerialNumberLog="log" AfterSerialNumberInput="AfterSerialNumberInput" />
    }
</div>

@code {
    [Parameter] public required List<SerialNumberLog> _serialNumberLogs { get; set; }
    
    [Parameter]
    public required EventCallback<SerialNumberLog> AfterSerialNumberInput { get; set; }
}