@using MESS.Data.Models

<div>
    @if (WorkStations != null)
    {
        <label for="product-select">Select Product</label>
        <select id="product-select" class="form-select" @onchange="async e => await OnWorkStationSelected.InvokeAsync(int.Parse(e.Value?.ToString() ?? string.Empty))">
            <option value="">Select Product</option>
            @foreach (var workStation in WorkStations)
            {
                @if (workStation.Products.Count == 0)
                {
                    continue;
                }
                <option value="@workStation.Id">@workStation.Name</option>
            }
        </select>
    }
</div>

@code {
    [Parameter]
    public List<WorkStation>? WorkStations { get; set; }
    [Parameter]
    public EventCallback<int> OnWorkStationSelected { get; set; }
}