@page "/Dashboard"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

<AuthorizeView Roles="Technician">
    <div>
        <nav>
            <NavLink href="/workinstructionimport" Match="NavLinkMatch.All">
                Work Instructions
            </NavLink>
            <NavLink href="/users" Match="NavLinkMatch.All">
                Users
            </NavLink>
        </nav>
    </div>
</AuthorizeView>

@code {
    
}