@page "/Dashboard"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

<AuthorizeView Roles="Technician">
    <div class="container justify-content-between">
        <nav>
            <NavLink class="btn btn-outline-secondary text-decoration-none" href="/workinstructionimport" Match="NavLinkMatch.All">
                Import Work Instructions
            </NavLink>
            <NavLink class="btn btn-outline-secondary text-decoration-none" href="/users" Match="NavLinkMatch.All">
                Users
            </NavLink>
        </nav>
    </div>
</AuthorizeView>

@code {
    
}