@page "/Dashboard"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

<NavLink class="btn btn-outline-secondary text-decoration-none" href="users" Match="NavLinkMatch.All">
    <span>Operator Management</span>
</NavLink>

@code {
    
}