@using MESS.Data.Models
@using MESS.Services.Product

<tr>
    <td>
        <InputText id="name" @bind-Value="Product.Name" class="form-control" placeholder="Enter product name" />
    </td>
    <td>
        <InputCheckbox id="isActive" @bind-Value="Product.IsActive" class="form-check-input" />
    </td>
    <td>
        <WorkInstructionSelector @bind-SelectedInstructions="Product.WorkInstructions" AllInstructions="AllInstructions"/>
    </td>
    <td>
        <button class="btn btn-sm @(IsNewProduct ? "btn-primary" : "btn-success")"
                @onclick="HandleSubmit" disabled="@isSaving">
            @(IsNewProduct ? "Create" : "Save")
        </button>
    </td>
</tr>

@code {
    /// <summary>
    /// The product being managed in the table row.
    /// </summary>
    [Parameter]
    public required Product Product { get; set; }

    /// <summary>
    /// Event callback triggered when the product is submitted.
    /// </summary>
    [Parameter]
    public EventCallback<Product> OnSubmit { get; set; }

    /// <summary>
    /// A list of all available work instructions to be displayed in the selector.
    /// </summary>
    [Parameter]
    public List<WorkInstruction>? AllInstructions { get; set; } = [];

    private bool IsNewProduct => Product.Id == 0;
    private bool isSaving = false;

    private async Task HandleSubmit()
    {
        isSaving = true;
        await OnSubmit.InvokeAsync(Product);
        isSaving = false;
    }
}