@using MESS.Data.Models
@using MESS.Services.WorkInstruction


<div class="mb-3">
    <h5>Associated Work Instructions</h5>
    <div class="list-group scrollable-checkbox-container">
        @if (AllInstructions == null)
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-center text-muted">
                    Loading work instructions...
                </div>
            </div>
        }
        else if (!AllInstructions.Any())
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-center text-muted">
                    No work instructions available
                </div>
            </div>
        }
        else
        {
            @foreach (var instruction in AllInstructions)
            {
                <label class="list-group-item">
                    <input type="checkbox" 
                           class="form-check-input me-1" 
                           checked="@IsInstructionSelected(instruction.Id)"
                           @onchange="@(e => ToggleInstructionSelection(instruction.Id, e.Value as bool? ?? false))" />
                    @($"{instruction.Title} v{instruction.Version}")
                </label>
            }
        }
    </div>
</div>

@code {
    
    [Parameter]
    public List<WorkInstruction>? SelectedInstructions { get; set; } = [];

    [Parameter]
    public EventCallback<List<WorkInstruction>> SelectedInstructionsChanged { get; set; }
    
    [Parameter]
    public List<WorkInstruction>? AllInstructions { get; set; } = [];

    private bool IsInstructionSelected(int instructionId)
    {
        return SelectedInstructions?.Any(wi => wi.Id == instructionId) ?? false;
    }

    private async Task ToggleInstructionSelection(int instructionId, bool isChecked)
    {
        var instruction = AllInstructions?.FirstOrDefault(wi => wi.Id == instructionId);
        if (instruction == null) return;

        SelectedInstructions ??= [];

        if (isChecked)
        {
            if (SelectedInstructions.All(wi => wi.Id != instructionId))
            {
                SelectedInstructions.Add(instruction);
            }
        }
        else
        {
            SelectedInstructions.RemoveAll(wi => wi.Id == instructionId);
        }

        await SelectedInstructionsChanged.InvokeAsync(SelectedInstructions);
    }
}