@using MESS.Data.Models

<div class="form-floating flex-grow-1">
    @if (PartNode.InputType == PartInputType.SerialNumber)
    {
        <InputText
            id="serialInput"
            class="form-control tall-input text-lightweight"
            placeholder="@PartNode.PartDefinition.Number"
            @bind-Value="_serialNumber"
            @bind-Value:after="OnInputChanged" />

        <label for="serialInput" class="form-label subtle-label">
            @PartNode.PartDefinition.Name ?? "Part Serial Number"
        </label>
    }
    else if (PartNode.InputType == PartInputType.ProductionLogId)
    {
        <InputNumber TValue="int?" 
                     id="logInput"
                     class="form-control tall-input text-lightweight"
                     placeholder="@PartNode.PartDefinition.Number"
                     @bind-Value="_productionLogId"
                     @bind-Value:after="OnInputChanged" />

        <label for="logInput" class="form-label subtle-label">
            @PartNode.PartDefinition.Name ?? "Linked Log ID"
        </label>
    }
</div>

@code {
    /// <summary>
    /// Determines which type of input should be rendered: serial number or production log ID.
    /// </summary>
    [Parameter, EditorRequired]
    public required PartNode PartNode { get; set; }

    /// <summary>
    /// The serializable part being edited. Only used for serial number input.
    /// </summary>
    [Parameter]
    public SerializablePart? SerializablePart { get; set; }

    /// <summary>
    /// Raised when the user changes the input.
    /// Returns a tuple of (<see cref="PartNode"/>, updated value)
    /// </summary>
    [Parameter]
    public EventCallback<(PartNode node, object value)> AfterInputChanged { get; set; }

    private string? _serialNumber;
    private int? _productionLogId;

    protected override void OnParametersSet()
    {
        if (PartNode.InputType == PartInputType.SerialNumber)
            _serialNumber = SerializablePart?.SerialNumber;
        else
            _productionLogId = null; // nothing pre-filled for production log ID
    }

    private async Task OnInputChanged()
    {
        object updatedValue = PartNode.InputType switch
        {
            PartInputType.SerialNumber => SerializablePart is not null 
                ? (SerializablePart.SerialNumber = string.IsNullOrWhiteSpace(_serialNumber) ? null : _serialNumber, SerializablePart)! 
                : null!,
            PartInputType.ProductionLogId => _productionLogId!,
            _ => throw new InvalidOperationException("Unknown PartNode input type.")
        };

        if (AfterInputChanged.HasDelegate)
            await AfterInputChanged.InvokeAsync((PartNode, updatedValue));
    }
}