@using MESS.Data.Models

<div class="form-floating flex-grow-1 m-0">
    <InputText id="productionLogPart" class="form-control col custom-input" @bind-Value="@ActiveProductionLogPart.PartSerialNumber"
               @bind-Value:after="@(() => AfterSerialNumberInput.InvokeAsync(ActiveProductionLogPart))"></InputText>
    <label class="form-label col custom-label" for="productionLogPart" style="color: gray; background-color: transparent;">@ActiveProductionLogPart.Part?.PartName</label>
</div>

@code {
    /// <summary>
    /// The active production log part.
    /// This parameter is required.
    /// </summary>
    [Parameter]
    public required ProductionLogPart ActiveProductionLogPart { get; set; }

    /// <summary>
    /// The callback to be invoked after the serial number input is updated.
    /// This parameter is required.
    /// </summary>
    [Parameter]
    public required EventCallback<ProductionLogPart> AfterSerialNumberInput { get; set; }
}