@page "/Login"
@using MESS.Data.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    <AuthorizeView>
        <Authorized>
            <nav>
                @if (context.User.IsInRole("Admin"))
                {
                <a href="/admin">Admin Dashboard</a>
                }
                @if (context.User.IsInRole("Operator"))
                {
                <a href="/production-log">Production Log</a>
                }
            </nav>
        </Authorized>
    </AuthorizeView>
    <form @onsubmit="HandleLoginAsync">
        <div>
            <label>Email:</label>
            <input type="email" @bind="Email"/>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

@code {
    private string Email { get; set; } = "";

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task HandleLoginAsync()
    {
        try
        {
            var user = await UserManager.FindByEmailAsync(Email);
            if (user != null)
            {
                await SignInManager.SignInAsync(user, isPersistent: false);
                Console.WriteLine("SUCCESS");
            }
            else
            {
                Console.WriteLine("User not found");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Login failed: {ex.Message}");
        }
    }
}