@page "/login"
@model MESS.Blazor.Components.Pages.Auth.Login

<div>
    <form method="post">
        <div>
            <label>Email:</label>
            <input type="email" name="Email" />
        </div>
        <button type="submit">Login</button>
    </form>
</div>