@page "/Login"
@using MESS.Data.Models
@using MESS.Services.ApplicationUser
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Serilog
@inject UserManager<ApplicationUser> UserManager
@inject IApplicationUserService ApplicationUserService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    <AuthorizeView>
        <Authorized>
            <nav>
                @if (context.User.IsInRole("Admin"))
                {
                <a href="/admin">Admin Dashboard</a>
                }
                @if (context.User.IsInRole("Operator"))
                {
                <a href="/production-log">Production Log</a>
                }
            </nav>
        </Authorized>
    </AuthorizeView>
    <form @onsubmit="HandleLoginAsync">
        <div>
            <label>Email:</label>
            <input type="email" @bind="Email"/>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

@code {
    private string Email { get; set; } = "";

    private async Task HandleLoginAsync()
    {
        try
        {
            var user = await UserManager.FindByEmailAsync(Email);
            if (user != null)
            {
                await ApplicationUserService.SignInAsync(user);
                Log.Information("User with ID successfully logged in: {ID}", user.Id);
            }
            else
            {
                Log.Information("Unsuccessful sign-in attempt");
            }
        }
        catch (Exception ex)
        {
            Log.Warning($"Login failed: {ex.Message}");
        }
    }
}