@page "/Register"
@using MESS.Data.Models
@using MESS.Services.ApplicationUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject IApplicationUserService ApplicationUserService

<h3>Register</h3>

<form @onsubmit="HandleRegistrationAsync">
    <div class="form-group">
        <label>Email:</label>
        <InputText @bind-Value="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@code {
    private string Email { get; set; } = "";
    
    
    private async Task HandleRegistrationAsync()
    {
        var user = new ApplicationUser
        {
            Email = Email,
            UserName = Email.Split('@')[0],
        };

        var result = await ApplicationUserService.AddApplicationUser(user);

        if (!result)
        {
            Console.WriteLine("ERROR REGISTERING USER");
        }
    }
    
}