@page "/Register"
@using MESS.Data.Models
@using MESS.Services.ApplicationUser
@using Microsoft.AspNetCore.Identity
@using Serilog
@inject IApplicationUserService ApplicationUserService

<h3>Register</h3>

<form @onsubmit="HandleRegistrationAsync">
    <div class="form-group">
        <label>Email:</label>
        <InputText @bind-Value="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
@if (ErrorMessages != null)
{
    <div>
        @foreach (var error in ErrorMessages)
        {
            <p>
                @error.Description
            </p>
        }
    </div>
}

@code {
    private string Email { get; set; } = "";
    private List<IdentityError> ErrorMessages { get; set; } = new List<IdentityError>();
    
    
    private async Task HandleRegistrationAsync()
    {
        var user = new ApplicationUser
        {
            Email = Email,
            UserName = Email.Split('@')[0],
        };

        var result = await ApplicationUserService.AddApplicationUser(user);

        if (!result.Succeeded)
        {
            Log.Warning("Unable to register new user with email: {Email}. Failed with the following errors: {errors}", Email, result.Errors);
            ErrorMessages.AddRange(result.Errors);
        }
    }
    
}