# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
    paths: # Only runs when a file ending in .cs or .csproj is changed
    - '**.cs'
    - '**.csproj'
    - '**.cshtml'
    - '**.razor'
    - '**.js'
  pull_request:
    branches: [ "main" ]
    paths:
    - '**.cs'
    - '**.csproj'
    - '**.cshtml'
    - '**.razor'
    - '**.js'
    
env:
  DOTNET_VERSION: '10.0.2' # Current as of 1/16/2026
  SOLUTION_PATH: './MESS/MESS.sln'

jobs:
  build-and-test:
    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }} # Run on Ubuntu. Not Windows. Not MacOS.
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
    - name: Restore dependencies
      run: dotnet restore ${{ env.SOLUTION_PATH }}
    - name: Build
      run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore
    - name: Test
      run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-build --filter "FullyQualifiedName!~EndToEnd" --verbosity normal
